#include <physical_layouts.dtsi>

/ {
    default_layout: physical_layout_0 {
        compatible = "zmk,physical-layout";
        display-name = "TEMPEST";
        transform = <&default_transform>;
        keys  //                     w   h    x    y     rot    rx    ry
            = <&key_physical_attrs 100 100   82   84  (-800)   132   134>
            , <&key_physical_attrs 100 100  192   33  (-400)   242    83>
            , <&key_physical_attrs 100 100  306    0       0     0     0>
            , <&key_physical_attrs 100 100  406   20       0     0     0>
            , <&key_physical_attrs 100 100  506   35       0     0     0>
            , <&key_physical_attrs 100 100 1054   35       0     0     0>
            , <&key_physical_attrs 100 100 1154   20       0     0     0>
            , <&key_physical_attrs 100 100 1254    0       0     0     0>
            , <&key_physical_attrs 100 100 1368   33     400  1418    83>
            , <&key_physical_attrs 100 100 1478   84     800  1528   134>
            , <&key_physical_attrs 100 100    0  228  (-800)    50   278>
            , <&key_physical_attrs 100 100   95  183  (-800)   145   233>
            , <&key_physical_attrs 100 100  199  133  (-400)   249   183>
            , <&key_physical_attrs 100 100  306  100       0     0     0>
            , <&key_physical_attrs 100 100  406  120       0     0     0>
            , <&key_physical_attrs 100 100  506  135       0     0     0>
            , <&key_physical_attrs 100 100 1054  135       0     0     0>
            , <&key_physical_attrs 100 100 1154  120       0     0     0>
            , <&key_physical_attrs 100 100 1254  100       0     0     0>
            , <&key_physical_attrs 100 100 1361  133     400  1411   183>
            , <&key_physical_attrs 100 100 1465  183     800  1515   233>
            , <&key_physical_attrs 100 100 1560  228     800  1610   278>
            , <&key_physical_attrs 100 100  108  282  (-800)   158   332>
            , <&key_physical_attrs 100 100  205  233  (-400)   255   282>
            , <&key_physical_attrs 100 100  306  200       0     0     0>
            , <&key_physical_attrs 100 100  406  220       0     0     0>
            , <&key_physical_attrs 100 100  506  235       0     0     0>
            , <&key_physical_attrs 100 100 1054  235       0     0     0>
            , <&key_physical_attrs 100 100 1154  220       0     0     0>
            , <&key_physical_attrs 100 100 1254  200       0     0     0>
            , <&key_physical_attrs 100 100 1354  233     400  1404   282>
            , <&key_physical_attrs 100 100 1452  282     800  1502   332>
            , <&key_physical_attrs 100 100  446  345       0     0     0>
            , <&key_physical_attrs 100 100  557  360    1500   607   410>
            , <&key_physical_attrs 100 100  660  406    3000   710   456>
            , <&key_physical_attrs 100 100  900  406 (-3000)   950   456>
            , <&key_physical_attrs 100 100 1003  360 (-1500)  1053   410>
            , <&key_physical_attrs 100 100 1114  345       0     0     0>
            ;
    };
};
